body {
    width: 60em;
    min-width: 750px;
    max-width: 95%;
    margin: 3%;
    line-height: 3%;
    background-color: silver;
}

#menu {
    
}

#main {
    float:left;
    width:70%;
}
#sidebar {
    float:right;
    width:25%;
    border-width:0 0 0 1px;
    border-style: solid;
    border-color: black;
    padding-left: 1em;
}
#footer {
    clear:both;
}

h1 {

    color:red;
}

.migi {
    float: right;
    margin: 0 0 1em 1em;
    width :"250"; 
    height:"200";
}


h1,h2,h3,h4,h5,h6{
    clear:both;
}

figcaption {
    text-align: center;
}

th td {
    border: 1px solid;
    padding: 0.2em 0.7em;
}

table.hoge th {
    text-align: left;
    background-color: #ffc;  /*light yellow*/
}

table.hoge td {
    text-align: right;
    background-color: cff;  /*light cyan*/
}

tabe.hoge {
    border: 3px solid;
}

caption {
    caption-side: bottom;
}

